*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url("m.jpg"); */
    background-color: #ddd;
    
}
a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-around;
    background-color:thistle;
    color:teal;
    align-items: center;
    padding: 20px 0 0 0;

}
.head{
    /* margin-right:180px;
    margin-top: 50px; */
    font-weight: bolder;
}

.login{
    margin-top:30px;
   padding: 30px;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    background-color: thistle;
    justify-content: center;

}

.login label{
    display: block;
    margin-top: 10px;
}

.login input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    outline: none;
}

.container{
    /* width: 100%;   */
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  }

  .container form{
      width: 600px;
  }

  .teacher{
     text-align: center;
     margin-bottom: 40px;
  }




  /* Wrapper styles */

  .wrapper{
      display: grid;
        grid-template-columns: 30% 70%;
  }

  .wrapper .dash-board{
      height: 700px;
      background-color:cadetblue;
  }

  .wrapper .dash-board  a div{
      width: 90%;
      height: 30px;
      background-color: crimson;
      /* margin-bottom: 10px; */
      border-radius: 5px;
      padding: 10px;
      margin: 10px

  }
  .wrapper .dash-board  a div:hover{
      transform: scale(0.95);
      transition: 300ms;
  }

  .wrapper .dash-board  a div:active{
      background-color: darkcyan;
  }


  /* COntent area styles */

  .content form{
    margin: 10px auto;
    width: 500px;
    height: 500px;
    background-color:dodgerblue;
    padding: 20px 70px;
}

.content form label{
    display: block;
    margin-right: 10px;
    margin-top: 10px;
   
}
.content form input {
    outline: none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.content h2{
    margin-bottom: 20px;
}

.content .btn{
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    margin-right: 30px;

}

.content .btn:hover{
    cursor: pointer;
    transform: scale(0.96);
    transition: 200ms;
}

